* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    background-color: #ffeed8;
}

h1 {
    text-align: center;
    padding: 2rem;
}

#main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#grid-container {
    /* size must be fixed to prevent overflowing */
    width: 300px; 
    height: 300px;
    display: grid;
    box-shadow: 0 0 5px black;
}

@media only screen and (min-width: 769px) {
    #grid-container {
        width: 500px;
        height: 500px;
    }
}

@media only screen and (min-width: 769px) {
    #main {
        flex-direction: row;
    }
}

body h2 {
    text-align: center;
    padding: 4rem;
}

.square {
    padding: 0.1em; /* Square size must be RELATIVE to parent grid-container */
    background-color: white;
}

#settings-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
}

input[type='color'] {
    width: 80px;
    height: 80px;
    margin: auto;
    border: none;
    border-radius: 50%;
    transition: 0.1s;
}

input[type='color']:hover {
    transform: scale(1.05, 1.05);
}

#settings-container button {
    padding: 0.5rem 1rem;
    background-color: #ffbe69;
    border-radius: 10px;
    transition: 0.1s;
}

#settings-container button.active {
    background-color: black;
    color: white;
}

#settings-container button:hover {
    transform: scale(1.05, 1.05);
}

#sizeLabel {
    text-align: center;
}

footer {
    background-color: #ffbe69;
    text-align: center;
    font-weight: bolder;
    padding: 4rem;
}